.App-header {
  display: flex;
  justify-content: center;
  background-color: #656565;
  color: white;
}

/* Navigation */
.App-nav ul {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
}

.App-nav li {
  float: left;
}

.App-nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.App-nav li a:hover {
  color: #91A379;
}

/* Coast page body */
.App-main {
  position: relative;
  max-width: 656px;
  padding: 20px;
  margin: auto;
}

/* Coast input form */
label { 
  display: block;
}

input { 
  margin: 5px;
}
